{% comment %}
Pretix Widget Include - Generiert originalen pretix-Code
Usage: {% include pretix-widget.html event="event-name" %}
Optional parameters:
- items: "123,124" (spezifische Ticket-IDs)
- voucher: "GUTSCHEIN2025" (Gutschein vorausfüllen)
- disable-vouchers: true (Gutschein-Eingabe deaktivieren)
{% endcomment %}

<pretix-widget 
  event="https://pretix.eu/OIC-BIE/{{ include.event }}/"
  {% if include.items %}items="{{ include.items }}"{% endif %}
  {% if include.voucher %}voucher="{{ include.voucher }}"{% endif %}
  {% if include.disable-vouchers %}disable-vouchers="true"{% endif %}></pretix-widget>
<noscript>
   <div class="pretix-widget">
        <div class="pretix-widget-info-message">
            JavaScript ist in Ihrem Browser deaktiviert. Um unseren Ticketshop ohne JavaScript aufzurufen, klicken Sie bitte <a target="_blank" rel="noopener" href="https://pretix.eu/OIC-BIE/{{ include.event }}/">hier</a>.
        </div>
    </div>
</noscript>