{% comment %}
Pretix Widget Include - CSS/JS wird global im Head geladen
Usage: {% include pretix-widget.html event="event-name" %}
Optional parameters:
- items: "123,124" (spezifische Ticket-IDs)
- voucher: "GUTSCHEIN2025" (Gutschein vorausfüllen)
- disable-vouchers: true (Gutschein-Eingabe deaktivieren)
{% endcomment %}

<!-- Widget Container -->
<div class="pretix-widget-container">
  <pretix-widget 
    event="https://pretix.eu/OIC-BIE/{{ include.event }}/"
    {% if include.items %}items="{{ include.items }}"{% endif %}
    {% if include.voucher %}voucher="{{ include.voucher }}"{% endif %}
    {% if include.disable-vouchers %}disable-vouchers="true"{% endif %}>
  </pretix-widget>
</div>